  <h1>Title: <%=@post.title%></h1>
  <h2>URL: <%= @post.url %></h2>
  <h3>Content: <%=@post.content%></h3>

  <form class="" action="<%= post_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="button">Delete Post</button>
  </form>

  <a href="<%= edit_post_url(@post) %>">Edit Post</a>

  <a href="<%= subs_url %>">Subs</a>

  <% @post.subs.each do |sub| %>
    <a href="<%=sub_url(sub)%>"><%= sub.title %></a>
  <% end %>
<h3>Comments</h3>
  <% @post.comments.each do |com| %>
    <a href="<%= comment_url(com) %>"><%= com.body %></a>
    <br>
  <% end %>
  <br>
  <a href="<%=new_post_comment_url(@post)%>">Add Comment</a>
