<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <form  action="<%=session_url%>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit"value="Sign Out">
      </form>
      <% else %>
      <a href="<%=new_user_url%>">Sign Up</a>
    <% end %>

    <% flash[:errors].try(:each) do |err|%>
      <%= err %>
    <% end %>

    <%= yield %>
  </body>
</html>
