<h2>Comment</h2>
<h3><%= @comment.body %></h3>
<h4>Reply to Comment</h4>
<form action="<%= comments_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="comment[post_id]" value="<%= @comment.post.id %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id %>">

  <label>
    Comment
    <input type="text" name="comment[body]">
  </label>

  <input type="submit" name="" value="Add Comment">

</form>

<% @comment.child_comments.each do |com| %>
  <a href="<%= comment_url(com) %>"><%= com.body %></a>
<% end %>
