<h2>Edit Post</h2>

<form action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <label>
    Title
    <input type="text" name="post[title]" value="<%=@post.title%>">
  </label>

  <label>
    URL
    <input type="text" name="post[url]" value="<%=@post.url%>">
  </label>

  <label>
    Content
    <input type="text" name="post[content]" value="<%=@post.content%>">
  </label>



  <% Sub.all.each do |sub| %>

    <label>
    <input type="checkbox" name="post[sub_ids][]" <%= 'checked' if @post.subs.include?(sub) %> value="<%= sub.id %>">
    <%= sub.title %>
    </label>
  <% end %>

  <input type="submit" name="" value="Update Post">
</form>
